.address-update-form__inner {
  display: flex;
  justify-content: center;
}

.address-update-form__heading {
  text-align: center;
  margin: auto;
  margin-top: 85px;
}

.address-update-form__form {
  padding: 64px 96px;
  width: 50vw;
}

.address-update-form__group {
  margin-top: 30px;
}

.address-update-form__group:first-of-type {
  margin-top: 0;
}

.address-update-form__label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
}

.address-update-form__label span {
  color: #FF9494;
  white-space: nowrap;
}

.address-update-form__input {
  display: block;
  padding: 8px 12px;
  width: 100%;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.address-update-form__error-message {
  color: #FF9494;
}

.address-update-form__btn {
  margin-top: 50px;
  width: 100%;
  height: 48px;
  text-align: center;
  color: #fff;
  background-color: #FF5555;
  border: none;
  border-radius: 3px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
  .address-update-form__form {
    width: 50vw;
    max-width: 600px;
    padding: 64px 96px;
  }
}

@media screen and (min-width: 851px) and (max-width: 1399px) {
  .address-update-form__form {
    width: 47vw;
    padding: 56px 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  .address-update-form__form {
    width: 55vw;
    padding: 48px 48px;
  }

  .address-update-form__input {
    width: 100%;
  }

  .address-update-form__btn {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .address-update-form__form {
    width: 55vw;
    padding: 32px 16px;
  }

  .address-update-form__input,
  .address-update-form__btn {
    width: 100%;
  }
}
