.item-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 100%;
    padding: 0 1rem;
}

.empty-alart {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    width: 100%;
}

.empty-alart p {
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .item-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        max-width: 850px;
        margin: 0 auto;
    }

    .empty-alart {
        min-height: 250px;
        margin-left: 175px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1540px){
    .item-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        max-width: 1540px;
        margin: 0 auto;
    }

    .empty-alart {
        min-height: 300px;
        margin-left: 470px;
    }
}

.tab-wrapper {
    display: flex;
    gap: 50px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
    padding-left: 100px;
    margin-top: 50px;
}
.tab {
    font-weight: bold;
    color: #555;
    text-decoration: none;
}
.tab.active {
    color: red;
}

.item-card {
    position: relative;
}
.item-image {
    background-color: #ddd;
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-title {
    margin-top: 0.5rem;
    font-size: 0.95rem;
}

.sold-label {
    position: absolute;
    top: 8px;
    right: 8px;
    background: red;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 4px;
}
