.alert-message__error {
    padding: 10px 30px;
    border-color: #ff949482;
    background-color: #ff949482;
    color: #FF5555;
}

.alert-message {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.purchase-layout {
  display: flex;
  gap: 5rem;
  padding: 48px;
  justify-content: space-between;
}

.purchase-left {
  flex: 2;
}

.purchase-right {
  flex: 1;
  padding: 24px;
  height: fit-content;
}

.purchase-product {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.purchase-image-wrapper img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  background-color: #eee;
}

.purchase-title-wrapper {
  display: flex;
  flex-direction: column;
}

.purchase-title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 0;
}

.purchase-price {
  font-size: 22px;
  margin-top: 0;
}

.purchase-block {
  padding-bottom: 50px;
  border-bottom: 1px solid gray;
}

.purchase-form__label {
  display: block;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
}

.custom-select-wrapper {
  position: relative;
}

.custom-select-wrapper::after {
  position: absolute;
  top: 83%;
  right: 43%;
  width: 0;
  height: 0;
  border-top: 10px solid #7d7b7b;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  transform: translateY(-50%);
}

.purchase-form__input {
  margin-left: 70px;
  border-radius: 4px;
  color: gray;
  padding: 5px 5px;
  margin-top: 50px;
  width: 50%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.address-form-wrapper {
  display: flex;
  justify-content: space-between;
}

.change-address {
  margin-top: 30px;
  margin-right: 20px;
  text-decoration: none;
  color: #0073CC;
}

.shipping-form {
  margin-left: 70px;
  font-weight: bold;
}

.summary-box {
  width: 440px;
  height: 230px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.summary-row__price,
.summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0 20px;
}

.summary-row__price {
  border-bottom: 1px solid #000;
}

.summary-title {
  margin-left: 50px;
}

.summary-content {
  margin-right: 50px;
  font-size: 22px;
}

.purchase-form__error-message {
  color: #FF9494;
  margin-left: 70px;
}

.purchase-form__btn {
  margin: 80px auto 0;
  display: block;
  width: 100%;
  height: 48px;
  background-color: #FF5555;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.purchase-submit {
  text-align: center;
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .purchase-layout {
    padding: 40px 32px;
    gap: 3rem;
  }
  .purchase-right {
    width: 100%;
  }
  .summary-box {
    max-width: 400px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1023px) {
  .purchase-layout {
    padding: 40px 32px;
    gap: 2rem;
  }
  .purchase-right {
    width: 100%;
  }
  .summary-box {
    max-width: 100%;
  }
}

@media screen and (min-width: 851px) and (max-width: 990px) {
  .purchase-layout {
    padding: 24px 12px;
    gap: 1rem;
  }
  .purchase-left,
  .purchase-right {
    width: 50%;
    max-width: 50%;
  }
  .summary-box {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .summary-row__price,
  .summary-row {
    flex-wrap: nowrap;
    gap: 8px;
    margin: 5px 15px 5px 0;
  }
  .summary-content {
    font-size: 18px;
    margin: 20px 5px 20px 0;
  }
  .summary-title {
    margin-left: 20px;
  }
  .custom-select-wrapper::after {
    right: 9rem;
    top: 70%;
  }
  .purchase-form__input {
    width: 60%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  .purchase-layout {
    padding: 24px 12px;
    gap: 1rem;
  }
  .purchase-left,
  .purchase-right {
    width: 50%;
    max-width: 50%;
  }
  .summary-box {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .summary-row__price,
  .summary-row {
    flex-wrap: nowrap;
    gap: 8px;
    margin: 5px 15px 5px 0;

  }
  .summary-content {
    font-size: 18px;
    margin: 20px 5px 20px 0;
  }
  .summary-title {
    margin-left: 20px;
  }
  .custom-select-wrapper::after {
    right: 7rem;
    top: 70%;
  }
  .purchase-form__input {
    width: 60%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .purchase-layout {
    padding: 24px 12px;
    gap: 1rem;
  }
  .purchase-left,
  .purchase-right {
    width: 50%;
    max-width: 50%;
  }
  .summary-box {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .summary-row__price,
  .summary-row {
    flex-wrap: nowrap;
    gap: 8px;
    margin: 5px 15px 5px 0;

  }
  .summary-content {
    font-size: 18px;
    margin: 20px 5px 20px 0;
  }
  .summary-title {
    margin-left: 20px;
  }
  .custom-select-wrapper::after {
    right: 6rem;
    top: 70%;
  }
  .purchase-form__input {
    width: 60%;
    margin-top: 20px;
  }
}